.fade {
    opacity: 0;
    transform: translateY(-25px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-up { 
    transform: translateY(25px)
}
.fade-down { 
    transform: translateY(-25px)
}
.fade-left { 
    transform: translateX(25px)
}
.fade-right { 
    transform: translateX(-25px)
}

.fade.visible { 
    opacity: 1;
    transform: translateY(0);
}